<div ng-controller="AppointmentsCtrl">
	<h2>Appointments<hr></h2>
	<div class="pull-right">
		<button class="btn btn-primary btn-lg"
			ng-click="addApptForm = true"
			ng-hide="addApptForm">
			Add Appointment
		</button>
	</div>
	<table class="table table-striped table-hover" ng-hide="addApptForm">
		<thead>
			<tr>
				<th>When</th>
				<th>Name</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="appointment in appointments">
				<td ng-model="appointment.created_at">{{ checkAppointmentDate(appointment.created_at) }}</td>
				<td ng-model="appointment.name">{{ appointment.name }}</td>
				<td ng-model="appointment.location">{{ appointment.location }}</td>
			</tr>
		</tbody>
	</table>

	<form role="form" ng-show="addApptForm">
		<div class="form-group">
			<label for="appointmentName">Appointment Name</label>
			<input type="text" class="form-control" id="appointmentName" 
				ng-model="new_appointment.name" 
				placeholder="e.g. Doctor's Appointment">
		</div>
		<div class="form-group">
			<label for="appointmentLocation">Location</label>
			<input type="text" class="form-control" id="appointmentLocation"
				ng-model="new_appointment.location" 
				placeholder="e.g. Olive View Medical Center">
		</div>

		<div id="datetime" class="form-group" ng-controller="CalendarCtrl">
			<label for="datetime-picker">Date</label>
			<input ng-model="new_appointment.datetime" type="text" required
				   id="datetime-picker" class="form-control" 
				   ng-required="true" date-disabled="disabled(date, mode)"
				   datepicker-popup="{{format}}" is-open="opened" close-text="Close"
				   datepicker-options="dateOptions" placeholder="Event Date">
			<span class="help-block" ng-show="new_appointmnet.datetime">
				<em>{{new_appointment.datetime | date:'fullDate' }}</em>
			</span>
		</div>

		<br/>
		<button class="btn btn-success btn-lg" 
			ng-click="addAppt(new_appointment);
				addApptForm = false">Add</button>
		<button class="btn btn-default btn-lg"
			ng-click="addApptForm = false">Cancel</button>
	</form>
</div>