<div>
	<h2>Calendar<hr></h2>
	<button class="btn btn-primary" 
			ng-click="addEventToCalendar = true" ng-show="!addEventToCalendar">Add Event
	</button>
	<div ng-show="addEventToCalendar">
		<form ng-submit="addEvent(eventTitle, dt); addEventToCalendar = false" role="form">
			<legend>Add event</legend>
			<div class="form-group">
				<div class="form-group">
			    	<label for="title">Event Title</label>
			    	<input id="title" ng-model="eventTitle" 
			    		   class="form-control" required autofocus
			    		   type="text"placeholder="Event Title">
			  	</div>
			</div>
			<div id="datetime" class="form-group">
				<label for="datetime-picker">Date</label>
				<input ng-model="dt" type="text" required
					   id="datetime-picker" class="form-control" 
					   ng-required="true" date-disabled="disabled(date, mode)"
					   datepicker-popup="{{format}}" is-open="opened" close-text="Close"
					   datepicker-options="dateOptions" placeholder="Event Date">
				<span class="help-block" ng-show="dt">
					<em>{{dt | date:'fullDate' }}</em>
				</span>
			</div>
		  	<input id="create-event-btn" class="btn btn-primary"
		  		   type="submit" value="Create event">
		</form>
	</div>
	<br><br>
	<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
</div>