
		<div>
			<div class="pull-right">
				<button class="btn btn-primary" ng-click="addContactForm = true">Add Contact</button>
				<button class="btn btn-default" ng-click="edit = true">Edit All</button>
				<button class="btn btn-success" ng-show="edit" 
					ng-click="edit = false;
					updateContact(contact)">Save Changes
				</button>
		</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Photo</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Phone</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="contact in contacts">
						<td>{{ contact.photo }}</td>
						<td>{{ contact.user.first_name }}</td>
						<td>{{ contact.user.last_name }}</td>
						<td>{{ contact.user.phone }}</td>
						<td>{{ contact.user.email }}</td>
					</tr>
					<tr ng-repeat="contact in contacts" ng-show="edit">
						<td><input type="file" class="form-control" ng-model="contact.photo"></td>
						<td><input type="text" class="form-control" ng-model="contact.first_name"></td>
						<td><input type="text" class="form-control" ng-model="contact.last_name"></td>
						<td><input type="text" class="form-control" ng-model="contact.phone"></td>
						<td><input type="text" class="form-control" ng-model="contact.email"></td>
					</tr>
				</tbody>
			</table>

    <form role="form" ng-show="addContactForm">
    	<div class="form-group">
			<label for="contactFirstName">Contact First Name</label>
			<input type="text" class="form-control" id="first_name" ng-model="contact.first_name" placeholder="John">
		</div>
		<div class="form-group">
			<label for="contactLastName">Contact Last Name</label>
			<input type="text" class="form-control" id="last_name" ng-model="contact.last_name" placeholder="Doe">
		</div>
		<div class="form-group">
			<label for="contactPhone">Contact Phone</label>
			<input type="text" class="form-control" id="phone_number" ng-model="contact.phone_number" placeholder="1-424-5555">
		</div>
		<div class="form-group">
			<label for="contactEmail">Contact Email</label>
			<input type="text" class="form-control" id="contactEmail" ng-model="contact.email" placeholder="johndoe@gmail.com">
		</div>
		<div class="form-group">
			<label for="contactPhoto">Contact Photo</label>
			<input type="file" id="contactPhoto">
		</div>
	
	<button class="btn btn-success" 
			ng-click="addContact(contact);
				addContactForm = false;">Add</button>
    <button class="btn btn-default"
			ng-click="addContactForm = false;
				contact.first_name='';
				contact.last_name='';
				contact.phone_number='';
				contact.email=''">Cancel</button>
	</form>
</div>
