<div>
   <!--  <h3>Notifications<hr></h3>

    <span ng-show="notifications.length === 0">
        You currently have no notifications.
    </span>

    <span ng-show="notifications.length > 0">
        {{ remaining() }} of {{ notifications.length }} remaining:
    </span>    
    
    <ul>
        <li ng-repeat="notification in notifications">
            <input type="checkbox" ng-model="notification.is_active" 
                   ng-click="toggleReminder(notification)">
            <span class="done-{{notification.is_active}}">{{ notification.notification }}</span>
        </li>
    </ul>
    <br/> -->
</div>